<!-- App Layout: Main Container -->
<div class="main-container">

    <!-- Application Header mit Navigation -->
    <header class="header header-3">
        <div class="branding">
            <a class="nav-link">
                <i class="fa fa-question fa-2x fa-fw"></i>
                <span class="title">M11's Quiz</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link" routerLink="question" routerLinkActive="active" >
                <span class="nav-text">My Questions</span>
            </a>
            <a class="nav-link">
                <span class="nav-text">My Statistics</span>
            </a>
        </div>
        <div class="header-actions">
            <a class="nav-link nav-icon" (click)="logOut()">
                <clr-icon shape="power"></clr-icon>
            </a>
        </div>
    </header>

    <!-- Content-Bereich mit Seitennavigation -->
    <div class="content-container">
        <div class="content-area">

            <router-outlet></router-outlet>            

        </div>
    </div>
</div>