<button type="button" class="btn btn-outline" routerLink="/home">
    <clr-icon shape="caret left"></clr-icon>
    End Quiz
</button>

<div *ngIf="question">
    <div class="card-columns card-columns-2" *ngIf="question">
        <!-- Card with the label, image and text of the question -->
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {{question.label}}
                    </div>
                    <div class="card-img">
                        <img src="{{question.image}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-text">
                            <p>
                                {{question.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" *ngFor="let answer of question.answersList">
                <a class="card clickable" (click)="choose(answer)">
                    <div class="card-header">
                        {{answer.text}}
                        <clr-icon shape="check pull-right" *ngIf="chosen(answer)"></clr-icon>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
</div>