<button type="button" class="btn btn-outline" routerLink="..">
    <clr-icon shape="caret left"></clr-icon>
    Back
</button>

<form name="questionForm" id="questionForm" #questionForm="ngForm" (ngSubmit)="onSubmit()" >

    <fieldset class="form-block">
        <label>Add a question</label>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                <label for="QuestionLabel" class="required">Name</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 col-xl-9">
                <label for="QuestionLabel" role="tooltip" class="form-control tooltip tooltip-top-left tooltip-validation tooltip-md" [class.invalid]="QuestionLabel.invalid">
                    <input type="text" class="form-control" name="QuestionLabel" id="QuestionLabel" placeholder="Enter a label" required [(ngModel)]="question.label" #QuestionLabel="ngModel" >
                    <span class="tooltip-content">Name for this question is required.</span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                <label for="QuestionText" class="required">Question text</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 col-xl-9">
                <label for="QuestionText" role="tooltip" class="form-control tooltip tooltip-top-left tooltip-validation tooltip-md" [class.invalid]="QuestionText.invalid">
                    <textarea type="text" class="form-control" name="QuestionText" id="QuestionText" placeholder="Enter a text" required [(ngModel)]="question.text" #QuestionText="ngModel"></textarea>
                    <span class="tooltip-content">Text for this question is required.</span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                <label for="Categories">Categories</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 col-xl-9">
                <clr-dropdown [clrMenuPosition]="'bottom-right'">
                    <button type="button" clrDropdownToggle>
                        <clr-icon shape="plus" size="24"></clr-icon>
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <div class="dropdown-menu">
                        <label class="dropdown-header">Add a category</label>
                        <a clrDropdownItem *ngFor="let category of categories" (click)="question.addCategory(category)">{{category.name}}</a>
                    </div>
                </clr-dropdown>

                <span class="label" *ngFor="let category of question.categorisation; let i = index">
                    {{category.name}}
                    <a (click)="question.removeCategory(i)"><clr-icon shape="close"></clr-icon></a>
                </span>
            </div>
        </div>
    </fieldset>
</form>

<fieldset>
    <label for="Answer">Answers</label>

    <form name="addAnswerForm" id="addAnswerForm" #addAnswerForm="ngForm" (ngSubmit)="addAnswer()">
        <div class="form-group row">
            <div class="col-xs-9">
                <input type="text" class="form-control" name="QuestionAnswerAdd" id="QuestionAnswerAdd" placeholder="Enter the answer" required [(ngModel)]="answer.text">
            </div>
            <div class="col-xs-1">
                <div class="checkbox">
                    <input type="checkbox" name="QuestionAnswerCorrectAdd" id="QuestionAnswerCorrectAdd" form="addAnswerForm" [(ngModel)]="answer.correct">
                    <label for="QuestionAnswerCorrectAdd">Is Correct</label>
                </div>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="col-xs-12 btn btn-sm btn-success-outline" form="addAnswerForm">Add</button>
            </div>
        </div>
    </form>

    <div class="form-group row" *ngFor="let answer of question.answersList; let i = index">
        <div class="col-xs-9">
            <input type="text" class="col-xs-12 form-control" name="QuestionAnswer{{i}}" id="QuestionAnswer{{i}}" placeholder="Enter the answer" required [(ngModel)]="answer.text">
        </div>
        <div class="col-xs-1">
            <div class="checkbox">
                <input type="checkbox" name="QuestionAnswerCorrect{{i}}" id="QuestionAnswerCorrect{{i}}" [(ngModel)]="answer.correct">
                <label for="QuestionAnswerCorrect{{i}}">Is Correct</label>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" class="col-xs-12 btn btn-sm btn-warning-outline" (click)="question.removeAnswer(i)">Remove</button>
        </div>
    </div>
    
</fieldset>

<button type="submit" form="questionForm" class="btn btn-primary">Create</button>