<div class="row">

    <!-- Cards with a glimpse of the questions of the user -->
    <div class="col-xs-12 col-md-6 col-xl-4">
        <div class="card">
            <div class="card-img"><img src="..."></div>
            <div class="card-block">
                <div class="card-text">

                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <!-- Card with a shortcut to create a new question -->
    <div class="col-xs-12 col-md-6 col-xl-4">
        <div class="card">
            <div class="card-img"><img src="..."></div>
            <div class="card-block">
                <div class="card-title">
                    You can create new questions to make this quiz even more awesome!
                </div>
                <div class="card-text">
                    <p>
                        You can categorize your questions by various interesting topics and afterwards you may even be able to look at how well others are doing, answering your questions.
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" routerLink="/questions/new">Create</button>
            </div>
        </div>
    </div>

</div>