<div class="row">

    <!-- Cards with a glimpse of the questions of the user -->
    <div class="col-xs-12 col-md-6 col-xl-4" *ngFor="let question of questions">
        <div class="card">
            <div class="card-img"><img src="{{question.image}}"></div>
            <div class="card-block">
                <div class="card-title">
                    {{question.label}}
                </div>
                <div class="card-text">
                    {{question.text}}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="removeImage(question)">Remove</button>
            </div>
        </div>
    </div>

</div>